body {
	
	background-position-x: 50%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0px;
    font-family: sans-serif;
}
header {
	text-align: center;
	color:white;
	padding:15px;
	margin: -8px -8px -0px -8px;
    font-size: 20px;
    background-color: black;
    position:fixed;
    width:100%;
    z-index: 3;
}
.tabs >ul
{
list-style: none;
text-align: center;
position:fixed;
width:100%;
top:45px;
z-index:2;
margin:0px;
padding:15px;
background-color: white;
overflow: hidden;
}
.tabs >ul li {
	display: inline-block;
	font-size: 30px;
	color:black;
	margin:30px;
  margin-top:0px;
  margin-bottom:0px;
	border:2px solid white;
	transition: border 1s cubic-bezier(0.17, .67, 0.83, .67);
	transition: all 1s linear;


}
.tabs >ul .active;
{
	color:black;
}
.tabs >ul li.active:hover {
    border: 2px solid white;
}
.mainView {
	position: relative;
	top:100px;
}
.Welcome img {
	width:30%;
	margin:20px;
  margin-right:5%;
  display: inline-block;
    float: right;
}
.Welcome div
{
	color: black;
	text-align: center;
    float: left;
    margin: 40px 5%;
    display: inline-block;
    width: 50%;

}
.aboutMe:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
	background-image: url(../images/aboutme.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    opacity: 0.4
 
}
.aboutMe {
		    position: relative;
    	top: -20px;
    color: black;

      
}
.aboutMe >p {
	text-align :  center;
	font-size  :  20px;
	padding	   :  20px 40px;

}
.aboutMe >p seciton {
    display: block;
    padding-top: 20px;
}

.aboutMe >p img {
	width: 105px;
    float: left;
    padding: 20px
}
.experience:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
	background-image: url(../images/experience.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    opacity: 0.4;
 
}
.experience{
	color: black;
}
.experience >p {
	text-align :  center;
	font-size  :  20px;
	padding	   :  30px;
	margin: 0px;
}
.experience  ul {
	font-size  :  18px;
	padding	   :  5px;
	margin-left: 30px;
}
.experience img {
	display: block;
    margin: 20px auto;
    margin-top:0px;
}

.projecttabs > section {
    position: relative;
    top: 60px;
    margin: 40px;
}

.skills:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
	background-image: url(../images/skills.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    opacity: 0.6;
 
}
.skills {
		position: relative;
    	top: -20px;
    color: black;
    font-size: 20px;   
}
.skills >p {
	padding:20px;
}
.skills ul {
	font-size  :  18px;
	padding	   :  5px;
	margin-left: 30px;
}
.skills .download
{
      padding: 20px;
    background: darkorange;
    margin: 40px;
    display: inline-block;
    border-radius: 10px;
}


ol li ul {
    padding: 20px;
}

ol >li {
    display: inline-block;
    padding-right:90px;
    padding-left:80px;
}

.tabs >ul li:hover{
	border-bottom: 2px solid black;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transition: border-bottom 1s cubic-bezier(0.17, .67, 0.83, .67);
  transition: border-bottom 1s cubic-bezier(0.17, .67, 0.83, .67);
}
.tabs >ul li.ng-binding.ng-scope.active {
    color: red;
    text-decoration: none;
        transform: translateY(-10px);
        transition: all 1s cubic-bezier(0.17, .67, 0.83, .67);
}

.tabbedview + section {
    top: 19px;
}
ul.tabbedview {
	text-align: center;
    list-style: none;
    position: fixed;
    top: 100px;
    left:0px;
    width: 100%;
    z-index: 2;
    background-color: white;
    margin: 0px;
    padding: 15px;
	}
ul.tabbedview li{
display: inline-block;
    position: relative;
    top: 0px;
    font-size: 20px;
    margin: 0px 20px;
    border-bottom: 2px solid white;
}
ul.tabbedview li.active {
    top: -10px;
}
ul.tabbedview li >a{
text-decoration: none;
color: cornflowerblue;
}
ul.tabbedview li:hover{
	border-bottom: 2px solid black;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transition: border-bottom 1s cubic-bezier(0.17, .67, 0.83, .67);
  transition: border-bottom 1s cubic-bezier(0.17, .67, 0.83, .67);
}
.projects h3
{
	text-align: center;
	color: skyblue;
}

.projecttabs {
	    color: antiquewhite;
}
.projecttabs a{
	color:snow;
}
.projecttabs h4 {
	color:azure;
}
.projecttabs:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
	background-image: url(../images/projects.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    display: block;
    width: 100%;
    height: 100%;
 
}


.contactme:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
	background-image: url(../images/contactme.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    display: block;
    width: 100%;
    height: 100%;
 
}

.contactme {
	position: relative;
    top: -20px;
}
.contactme h1{
	text-align: center;
    padding-top: 40px;
        color: dodgerblue;
}
.contactme div {
	text-align: center;
}
.contactme div a >img{
  border-radius: 60px;
  transition:border-radius .5s ease-out;
  width:150px;
  padding:20px;
}
.contactme div a >img:hover{
	border-radius:50%
}


@media only screen and (max-device-width: 900px) {
	.mainView {
		margin-left:20px;
		margin-right:20px;
	}
	.Welcome img
	{
		display: block;
    	margin: 10px auto;
	}
    ul.tabbedview li {
    font-size: 30px;
    margin: 20px;
    margin-left: 0px;
	}
	ul.tabbedview {
		padding:15px;
		padding-bottom:5px;
    top:110px;
	}
	.tabbedview + section {
		top:55px;
	}
  .tabs >ul {
    top:60px;
  }
  .aboutMe {
      padding-top:25px;
    }
    .experience {
      padding-top: 25px;
    }
    .contactme {
      padding-top: :25px;
    }
    .skills {
      padding-top: 25px;
      font-size:29px;
    }
    .aboutMe >p {
      text-align: justify;
      font-size: 25px;
    }
    .experience >p {
      font-size: 25px;
    }
    .skills ul {
      font-size:25px;
    }
    .projects h3 {
      font-size: :25px;
    }
    .projects h4 {
      font-size: 13px;
      margin:10px;
    }
  
    .projects h4 +p +{
      font-size:22px;
      margin:15px;

    }
    .projecttabs section section a{
      font-size:22px;
    }
    .projecttabs section section {
      margin-bottom:20px;
    }
    .contactme:before{
          background-position: 25%;
    }
}

@media only screen and (max-device-width: 500px) {
	.experience >p {
    font-size: 13px;
    padding:15px;
}
.experience ul {
    font-size: 13px;
    margin-left: 60px;
}
    ol >li {
    padding-right: 50%;
    padding-left: 20px;
    font-size:30px;
    }
    .skills ul {
      font-size: 25px;
    }
    .projecttabs > section {
        margin: 100px 50px;
      text-align: justify;
    }
    .tabs >ul {
      top:70px;
    }
    ul.tabbedview {
      top:120px;
    }
    .aboutMe {
      padding-top:20px;
    }
    .experience {
      padding-top: 20px;
    }
    .skills {
      padding-top: 20px;
      font-size:29px;
    }
    .aboutMe >p {
      text-align: justify;
      font-size: 14px;
    }
    .contactme {
      padding-top:20px;
    }
    .projects h3 {
      font-size: :13px;
    }
    .projects h4 {
      font-size: 12px;
      margin:10px;
    }
  
    .projects h4 +p +{
      font-size:11px;
      margin:15px;

    }
    .projecttabs section section a{
      font-size:11px;
    }
    .projecttabs section section {
      margin-bottom:15px;
    }
    .contactme:before{
          background-position: 25%;
    }
}

