
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/mystyle.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/portfolio.js"></script>
<title>Rachit Thirani's WebPage</title>

<script>
var tab =angular.module('TabsApp', []);
tab.controller('TabsCtrl', ['$scope', function ($scope,$http) {
    $scope.tabs = [
    	{
            name: "About Me",
            index:1,
            url: "aboutme.html"
        }, 
        {
            name: "Experience",
            index:1,
            url: "experience.html"
        }, 
        {	
			name:"Projects",
			index:3,
			url :"projects.html"
		},

		{	
			name:"Contact Me",
			index:4,
			url :"contactme.html"
		}
    ];


    $scope.currentTab = 'home.html';

    $scope.onClickTab = function (tab) {
        $scope.currentTab = tab.url;
    }
    
    $scope.isActiveTab = function(tabUrl) {
        return tabUrl == $scope.currentTab;
    }
}]);
tab.controller('projectsCtrl', ['$scope', function ($scope,$http)
{
		$scope.projects = [
    	{cate_name:"Data Science",
    	index:1,
    	pro:[{
            	name: "IMDb Rating and Gross Income Prediction",
            	desc: "Developed a tool for cleaning of IMDb’s data and prediction of rating for upcoming movies based on the attributes like actor’s rating, director’s rating, genre using machine learning techniques such as Decision tree, K means Clustering and Neural Networks.",
            	tech : "R,Decision Tree, Kmeans, CLustering"
        	}, 
        	{
            	name: "Bitcoin Price Variation Prediction",
            	desc: "Utilized machine learning technique of Bayesian Regression in Python to predict the variation in the cryptocurrency useful for bitcoin trading",
            	url: "https://github.com/rachitthirani/Bitcoin-Price-Prediction"
        	}, 
        	{	
				name: "Market Segmentation",
				desc:"Developed an application to predict the communities using Facebook’s data using Python, useful in detecting the group of people with similar taste, helpful in recommendation of friends, network analysis and visualization based on the algorithm Structure-Attribute Clustering.",
            	url: "https://github.com/rachitthirani/Market-Segmentation-using-Attributed-Graph-Community-Detection"
			},
			{	
				name: "Yelp Data Analysis",
				desc: "Built an application to predict the popularity of a restaurant at a particular day and time based on time series analysis on the checkin dataset provided by Yelp using Python and MongoDB. The application also predicts the performance of the particular business based ont he sentiments of reviews it recieves over a period of time. Fake reviews and ratings affect the final rating and poplarity of a business. Application also tries to detect fake users and users which kept under the scanner because their behaviour is a bit weird based on their social network, their review history and smillarity of the reviews. ",
            	url: "https://github.com/rachitthirani/Time-Series-Analysis-and-Anomaly-Detection"
			},
			{
				name: "Overlapping Community Detection",
				desc: "Implemented the algorithm from the paper Efficient Identification of Overlapping Communities to detect overlapping communities in social networks. the algorithm uses the communication graph to find the structure of the communities. This knowledge about the structure is helpful in descovering groups of actors that hide their commmunications, possibly for malicious reasons. the algorithm used produces clusters of a comparable or better quality. The dataset used was Amazon's  community graph.",
				url: "https://github.com/rachitthirani/CommunityDetection-Project2GDM"
			},
			{
				name: "Virus Propogation",
				desc : "Implemented and algorithm to determine wheather a virus will result in an epidemic or it will die quickly. for a given network of individuals, where the edges represent who can potentially infect whom, the rate of porpogation of a virus across the network depends on the connectivity of the network and on the propogation model of the virus. The result have important inplication for the design and evaluation of immunization policies and can be applied to many problems, such as minimiing the spread od malware in computer networks or maximizing the spread od a makrketing campaign across a social network.",
				url : "https://github.com/rachitthirani/VirusPropagation"
			},
			{
				name: "Anomaly Detection in Time Evolving Networks",
				desc : "Anomaly detection refers to the problem of finding patterns in data which fail to conform to the expected standard. These anomalous patterns is useful to a number of business applications, such as identifying trending topics on social media and suspicious traffic on computer networks, as well as detecting credit card fraud, insurance fraud, and eauction fraud. Implemented the algorithm from the paper: NetSimile: A Scalable Approach to Size-Independent Network Similarity", 
				url : "https://github.com/rachitthirani/Anomaly-Detection-in-Time-Evolving-Networks"
			}
			]
	},
	{	cate_name:"Operating Systems",
		index:2,
    	pro:[{
            	name: "Non Persistent Heap",
            	desc: "Developed an in-memory kernel module, that provides efficient data sharing among different processes, in C which maps kernel space memory into user space memory using the user-space library interface and signs the requested size memory , specified by the offset, in kernel using the offset. Lock and unlock functions were implemented using the user space library to guarantee only one process can access an object at the same time leveraging the shared  memory policy.",
            	url: "https://github.com/rachitthirani/NPheap"
        	}, 
        	{
            	name: "Transactional Non Persistent Heap" ,
            	desc: "Designed a kernel module in C which utilizes the concept of concurrency without locking. Version number is maintained for the object and a transaction is allowed to commit only if the version number is the same, i.e. no other transactions has changed the value. If the transaction cannot commit, it is aborted and restarted.",
            	url: "https://github.com/rachitthirani/TNPHeap"
        	}, 
        	{	
				name: "Non Persistent Heap File System",
				desc:"Implemented a File System in C using the Fuse library and previously developed NPHeap kernel module. The file system is compatible with conventional file system operations. Data structures and operations that maintain the abstraction of a file system were implemented, with persistent data storage capabilities. ",
            	url: "https://github.com/rachitthirani/CSC-501-NPHFS"
			}]
	},
	{	cate_name:"Database",
		index:3,
    	pro:[{
            	name: "Course Registration System",
            	desc: "Developed an application for managing course registration, financial details, administrator functionalities while utilizing the concepts of relational databases using Java and Oracle with extensive use of procedures and triggers.",
            	tech : "Java, SQL"
        	}, 
        	{
            	name: "Paperless Hospital Management System" ,
            	desc: "Developed an application for managinng the functionalities of Hospital without the use of paper. The application give the ability to patient, doctors, the pharmacy and diagnostic center to access data. Users could access their medical records whenever they want. Doctors coudl easily look up at the patient's previous records to provide the perfect treatement. Doctors can even access the patients medical records, prescriptions and all the scan details can be added by the diadnostuc center to the patient's account directly, reducing the need of carrying th reports and prescriptions. ",
            	tech : "Java, SQL"
        	}, 
        	{	
				name: "Library Management System",
				desc:"Developed an application to manage the functionalities of library such as book lending,book availability, reminders for due dates, finincials. Library Staff and users can login and utilize the system to efficiently manage the functionalities of the library",
				tech :"C#, SQL"
			}]
	},
	{
		cate_name:"Web Services",
		index:4,
		pro:[{
			name:"Processing of Streaming Data using AWS infrastructure Services",
			desc:"Built a pipeline to process massive volumes of streaming data obtained using the Twitter API using AWS Kinesis for handling the streamed data, AWS Dynamodb for storing the unstructured data in a NoSQL Database, AWS Elastic Map Reduce to process the large volumes of streamed data efficiently. Implemented Pig, Hive and Spark programs to perform data analysis on an Elastic Map Reduce cluster and compared their performance.",
			url:"https://github.com/rachitthirani/Streaming-Application-For-Twitter-API-and-Map-Reduce-using-AWS",
		}]
	}

    ];
    $scope.image="images/me.jpg";
    $scope.tab=0;
}]);
</script>
</head>
<body >
	<header>Anyone can write code that a computer can understand. Good programmers write code that humans can understand.</header>
	<div class="logo">this will be the logo</div>

<div ng-app="TabsApp">
    <div class="tabs" ng-controller="TabsCtrl">
        <ul>
            <li ng-repeat="tab in tabs" 
                ng-class="{active:isActiveTab(tab.url)}" 
                ng-click="onClickTab(tab)">{{tab.name}}</li>
        </ul>
        <div class="mainView" >
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <script type="text/ng-template" id="home.html">
		<div ng-init="image='images/me.jpg'" class="Welcome">
			<img ng-src="{{image}}" alt="Rachit Thirani">
			<div>
			<h1>Hi. I am Rachit Thirani</h1>
			<h2>Master Of Computer Science</h2>
			<h2>Bachelor Of Engineering - Information and Communication Technology</h2>
			<p>Thank you for visiting rachitthirani.github.io</p>
			<p>Select any tab to know about me and my skills</p>
			</div>
		</div>
	</script>
	
	<script type="text/ng-template" id="aboutme.html">
		<div class="aboutMe" ng-style="{ 'background-image': images/aboutme.jpg}">
			<p> 
				My name is Rachit Thirani. I am a passionate Software Developer with expertise in Full Stack Web Development and Data Analysis. Programming and computers facinated me since my childhood. My parents wanted to provide me with something which they were not lucky enough to use in their generation and this hooked me up to amazing world of computers.
            </p>
            <p>
               I did my Bachelors from Manipal University in Information Technology, which can be considered as my first formal introduciton to high level programming concepts and skills. The courses which I took kept my passion growing and the hunger to learn more never stopped on growing. 
  	            <img ng-src="images/manipal.jpg">
  	            <seciton>
                    Course work: Object Oriented Programming, Data Structures, Computer Networks, Software Engineering.
                </section> 

            </p>
           
            <p>
                New place, new university, new course work did not hold me back form achieving my dream and I came to the United States to achieve this dream.</p>

            <p> I graduated with Masters in Computer Science from North Carolina State University in December 2017, with expertise in Data Science.
  	            <img ng-src="images/ncsu.png">
  	            <seciton>
                    CourseWork: Algorithms, Operating Systems, Automated Learning and Data Analysis, Algorithms for Data Guided Business Intelligence, Database Management System, Foundations of Data Science, Data Intensive Computing, Artificial Intelligence, Advance Data Structures, Graph Data Mining.
                </section> 

            </p>
            <p>I have broad experience across a wide spectrum of software programming languages,technology stacks, databases and tools.</p>
            <p>TO know more about my experience please switch to the experience tab</p>
            
            
		</div>
	</script>
	
	<script type="text/ng-template" id="experience.html">
		<div class="experience">
			<p>
				<img ng-src="images/sapientnitro.png">
			I have worked as Interactive developer L1 at Sapient Nitro from November 2014 till May 2016. 
			My tasks and duties were as follows 
			</p>
			<ul>
				<li>Specialized developer in Front-End domain for several multi-million dollar clients.</li>
				<li>Developed and tested responsive components with cross browser compatibility for client’s webpages.</li>
				<li>Reduced the maintenance effort required by automation of CSS for all clients’s modules using GRUNT and LESS</li>
				<li>Managed Front-End developers and Point of Contact for all front end development</li>
				<li>Additional Technologies Used - HTML5, AJAX, Javascript, JQuery, Bootstrap, NodeJS, AngularJS, CSS3</li>
			</ul>
			<p>
				<img ng-src="images/cipm.jpg">
			I have worked as Computer Programming Intern at Center for Integrated Pest Management, NCSU from September 2016 till December 2017. 
			My tasks and duties were as follows 
			</p>
			<ul>
				<li>Modifying and cleaning data.</li>
				<li>Creating  and evaluating different machine learning techniques for prediction. </li>
			</ul>
			<p> Technologies used were Python and R </p>
		</div>
	</script>
	
	<script type="text/ng-template" id="projects.html">
		<div id="viewThree">
		</div>

		<div ng-app="projectsApp">
    		<div class="projects" ng-controller="projectsCtrl">
        	<!--<ul>
        			<li ng-repeat="cat in projects">{{cat.cate_name}}
        				<ul>
            				<li ng-repeat="pro in cat.pro" >{{pro.name}}<p>{{pro.desc}}</p>
            				<a href="{{pro.url}}" ng-if="pro.url" target="_blank">{{pro.url}}</a></li>
            			</ul>
            		</li>
        		</ul>-->
        	<div class="projecttabs"> 
        		<ul class="tabbedview">
        			<li ng-class="{active:tab==0}">
                        <a href ng-click="tab = tab==0 ? null : 0">All</a>
                    </li>
        			<li ng-class="{active:tab==1"> 
      					<a href ng-click="tab = tab==1 ? null : 1">Data Science</a>     
   			 		</li>
   			 		<li ng-class="{active:tab==2"> 
      					<a href ng-click="tab = tab==2 ? null : 2">Operating Systems</a>     
   			 		</li> 
   			 		<li ng-class="{active:tab==3"> 
      					<a href ng-click="tab = tab==3 ? null : 3">Data Bases</a>     
   			 		</li> 
   			 		<li ng-class="{active:tab==4"> 
      					<a href ng-click="tab = tab==4 ? null : 4">Web Services</a>     
   			 		</li>  
        		</ul>
        		<section ng-show="tab === 0"> 
        				<section ng-repeat="cat in projects">
        					<h3>{{cat.cate_name}}</h3>
        					<section ng-repeat="pro in cat.pro" >
        						<h4>{{pro.name}}</h4>
        						<p>{{pro.desc}}</p>
        						<a href="{{pro.url}}" ng-if="pro.url" target="_blank">{{pro.url}}</a>
        					</section>
            			</section>
        	
        		</section> 
        		<section ng-repeat="cat in projects" ng-show="tab === {{cat.index}}">
        			<section ng-repeat="pro in cat.pro" >
        				<h4>{{pro.name}}</h4>
        				<p>{{pro.desc}}</p>
        				<a href="{{pro.url}}" ng-if="pro.url" target="_blank">{{pro.url}}</a>
        			</section>
        		</section>           
       		 </div>
        </div>

    </div>
	</script>
	<script type="text/ng-template" id="contactme.html">
		<div class="contactme" background="connect_background.jpg">
			<h1>Lets Connect!!</h1>
			<div>
			<a href="https://www.facebook.com/rachit.thirani"><img src="images/fb.png"></a>
			<a href="https://www.linkedin.com/in/rachitthirani/"><img src="images/linkedin.png"></a>
			<a href="mailto:rachitthirani@yahoo.com"><img src="images/email.png"></a>
			<a href="tel:+19197716184"><img src="images/phone.jpg"</a>
			<div>
		</div>
	</script>
</div>
</body>
</html>